body {
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0 10px
    }
  
  
  .carousel {
    position: center;
    width: 398px;
    padding: 10px 40px;
    border: 1px solid rgb(245, 176, 176);
    border-radius: 15px;
    background: rgb(245, 177, 177);
  }
  
  .carousel img {
    width: 130px;
    height: 130px;
    /* make it block to remove space around images */
    display: block;
  }
  
  .arrow {
    position: absolute;
    top: 60px;
    padding: 0;
    background: rgb(233, 169, 169);
    border-radius: 15px;
    border: 2px solid rgb(2, 2, 2);
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
  }
  
  .arrow:focus {
    outline: none;
  }
  
  .arrow:hover {
    background: #ccc;
    cursor: pointer;
  }
  
  .prev {
    left: 7px;
  }
  
  .next {
    right: 7px;
  }
  
  .gallery {
    width: 390px;
    overflow: hidden;
  }
  
  .gallery ul {
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    /* remove white-space between inline-block'ed li */
    /* http://davidwalsh.name/remove-whitespace-inline-block */
    font-size: 0;
  }
  
  .gallery li {
    display: inline-block;
  }

